---
import { Image } from 'astro:assets';
import Layout from '../layouts/BlogPost.astro';
import profileImage from '../assets/profile2020_1080x1080-768x768.png';
---

<Layout
	title="About Me"
	description="Naoki Sekiguchi (seckie) のプロフィール"
	pubDate={new Date('July 05 2026')}
>
	<Image
		src={profileImage}
		alt="Naoki Sekiguchi (seckie) のプロフィールイラスト"
		width={300}
		densities={[1, 2]}
		style="border-radius: 50%; display: block; margin-inline: auto;"
	/>
	<p>Naoki Sekiguchi (seckie) です。</p>
	<p>
		SaaS運営企業でエンジニアリングマネージャーをしています。もともとはフロントエンドエンジニアとして、
		Web標準・HTML/CSS/JavaScriptの世界でキャリアを積んできました。
	</p>
	<p>
		このサイトでは、エンジニアリングマネジメント、チームづくり、ソフトウェア開発について
		思ったことや学んだことを書いていきます。
	</p>
	<ul>
		<li><a href="https://github.com/seckie" target="_blank" rel="noopener">GitHub</a></li>
	</ul>
</Layout>
