---
import { Image } from 'astro:assets';
import Layout from '../layouts/BlogPost.astro';
import profileImage from '../assets/profile2020_1080x1080-768x768.png';
---

<Layout
	title="About Me"
	description="Naoki Sekiguchi (seckie) のプロフィール"
	pubDate={new Date('July 05 2026')}
>
	<p>
	<Image
		src={profileImage}
		alt="Naoki Sekiguchi (seckie) のプロフィールイラスト"
		width={300}
		densities={[1, 2]}
		style="border-radius: 50%; display: block; margin-inline: auto;"
	/>
	</p>
	<p style="text-align: center">
    Naoki Sekiguchi<br />
    Location: Kanagawa, Japan
	</p>
    <h2>Career history</h2>
    <ul>
        <li>エンジニアリングマネージャー (2021〜)
            <ul>
                <li>プロジェクトマネジメント、チームマネジメント、採用</li>
            </ul>
        </li>
        <li>フロントエンドエンジニア (2005〜)
            <ul>
                <li>HTML, CSS, JavaScript, TypeScript, React, Vue.js etc</li>
            </ul>
        </li>
    </ul>
</Layout>
