---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Naoki Sekiguchi (seckie) のプロフィール"
	pubDate={new Date('July 05 2026')}
>
	<p>Naoki Sekiguchi (seckie) です。</p>
	<p>
		SaaS運営企業でエンジニアリングマネージャーをしています。もともとはフロントエンドエンジニアとして、
		Web標準・HTML/CSS/JavaScriptの世界でキャリアを積んできました。
	</p>
	<p>
		このサイトでは、エンジニアリングマネジメント、チームづくり、ソフトウェア開発について
		思ったことや学んだことを書いていきます。
	</p>
	<ul>
		<li><a href="https://github.com/seckie" target="_blank" rel="noopener">GitHub</a></li>
	</ul>
</Layout>
